@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i&amp;subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&subset=cyrillic-ext");

body {
	background-color: transparent;
	margin: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#chatBox {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 720px;
	font-size: 16px;
	font-family: "Fira Sans", "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", Arial, sans-serif;
	color: #fff;
	overflow: hidden;
	text-shadow: 0px 0px 1px #333;
	opacity: 0
}

.chatBoxName {
	font-family: "Fira Sans Condensed", "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", Arial, sans-serif;
}

#chatInput {
	opacity: 0;
	display: inline-block;
	vertical-align: bottom;
	text-transform: uppercase;
	height: 24px;
	line-height: 24px;
}

#chatInputText {
	background-color: transparent;
	border: none;
	outline: none;
	resize: none;
	font-family: "Fira Sans Condensed", "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", Arial, sans-serif;
	color: white;
	text-shadow: 0px 0px 1px #333;
	height: 24px;
	font-size: 16px;
	width: calc(100% - 20px);
	position: absolute;
	padding-left: 20px;
}

.chatInputPrefix {
	position: absolute;
}

#chatBoxBuffer {
	height: 240px;
	overflow: hidden;
}

#chatBoxBg {
	width: 70vw;
	height: 60vh;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 70%);
	position: absolute;
	top: -35vh;
	left: -35vw;
	opacity: 0;
	z-index: -1;
}

li {
	line-height: 24px;
}

img.emoji {
	cursor: pointer;
	vertical-align: -6px;
	width: 20px;
}

.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-7{color: #ffffff;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

.color-r{color: #DE3232;}
.color-b{color: #5CB4E3;}
.color-g{color: #71CA71;}
.color-y{color: #EEC650;}
.color-p{color: #8365E0;}
.color-q{color: #E24F80;}
.color-o{color: #FD8455;}
.color-c{color: #8B8B8B;}
.color-m{color: #636363;}
.color-w{color: #FFFFFF;}
.color-s{color: #FFFFFF;}
.color-u{color: #000000;}


::-webkit-scrollbar {width: 3px;}
::-webkit-scrollbar-track {border-radius: 50%; height: 3px}
::-webkit-scrollbar-thumb {background: #fff; height: 3px}
